body {
	background: #EAEAEA;
	font-family: Poppins;
}

.container {
	width: 100%;
	margin: 0;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.row {
	width: 70%;
	margin: 5% 15%;
	background: white;
	display: flex;
}

.col-6:first-child {
	width: 55%;
	/*background: green;*/
}

form {
	padding: 40px 60px;
}

form h1 {
	font-size: 45px;
	font-weight: bold;
}

form .g2 {
	width: 100%;
	display: flex;
}

form .g2 input {
	width: 45%;
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	font-size: 15px;
	font-family: Poppins;
	outline: none;
}

::placeholder {
	color: black;
}

form .g2 input:first-child {
	margin-right: 5%;
}

form .input input,
form .input textarea {
	width: 99%;
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	font-size: 15px;
	font-family: Poppins;
	outline: none;
	margin: 2% 0 5% 0;
}

form .button button {
	width: 140px;
	height: 50px;
	background: #E84108;
	font-size: 14px;
	color: white;
	font-family: Poppins;
	font-weight: medium;
	border: none;
	outline: none;
	cursor: pointer;
}

form .button button:hover,
form .button button:focus {
	transition: 700ms;
	background: #F54305;
}

.divider {
	width: 0.2%;
	height: 290px;
	margin-top: 25%;
	background: #EAEAEA;
}

.col-6:last-child {
	width: 39.9%;
	background: white;
}

.col-6:last-child .text {
	padding: 40px 60px;
	margin-top: 46%;
}

.col-6:last-child .text h3 {
	font-size: 25px;
}

.col-6:last-child .text p {
	font-size: 15px;
	margin-bottom: 40px;
}

.col-6:last-child .text .link {
	display: flex;
}

.col-6:last-child .text .link i {
	margin-top: 14px;
	font-size: 22px;	
}